<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button type="submit">My Button</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log('Component Mounted')
    }
}
</script>

<style>

</style>